@font-face {
    font-family: 'PF Agora Sans Pro';
    src: url("../fonts/PFAgoraSansPro-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'PF Agora Sans Pro';
    src: url("../fonts/PFAgoraSansPro-Bold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: 'PF Agora Sans Pro';
    src: url("../fonts/PFAgoraSansProUltraBlack.woff") format("woff");
    font-weight: 900;
    
}